<nav>
  <a routerLink="/" style="cursor: pointer;">
    <img
      src="https://b.zmtcdn.com/web_assets/b40b97e677bc7b2ca77c58c61db266fe1603954218.png"
      alt="logo"
    />
  </a>


  <input
    type="text"
    [(ngModel)]="searchInput"
    (input)="onSearchInputChange()"
    placeholder="Search restaurants or dish"
    id="topInpt"
  />
  
  <div class="search-dropdown" *ngIf="searchResults.restaurants.length > 0 || searchResults.dishes.length > 0">
    <!-- Restaurants Section -->
    <div *ngIf="searchResults.restaurants.length > 0">
      <div
        *ngFor="let restaurant of searchResults.restaurants"
        class="search-item"
        (click)="goToRestaurant(restaurant.name)"
      >
        <img [src]="restaurant.restaurantImage" alt="restaurant" class="thumbnail" />
        <div class="info">
          <h4>{{ restaurant.name }}</h4>
          <p>{{ restaurant.typeCuisine }}</p>
          <span *ngIf="restaurant.available; else closed">Open</span>
          <ng-template #closed><span>Closed</span></ng-template>
        </div>
      </div>
    </div>
  
    <!-- Dishes Section -->
    <div *ngIf="searchResults.dishes.length > 0">
      <div
        *ngFor="let dish of searchResults.dishes"
        class="search-item"
        (click)="goToDish(dish.id)"
      >
        <img [src]="dish.image" alt="dish" class="thumbnail" />
        <div class="info">
          <h4>{{ dish.name }}</h4>
          <span *ngIf="dish.available; else closed">Available</span>
          <ng-template #closed><span>Not Available</span></ng-template>
        </div>
      </div>
    </div>
  </div>
  
  

  <!-- If user is logged in -->
  <div class="auth-buttons" *ngIf="isLoggedIn; else showAuthButtons">

    <button 
    class="restBtn" 
    (click)="router.navigate(['/cart'])">
    🛒 Cart
  </button>
    <!-- For Admin -->
    <button 
      *ngIf="userRole === 'ADMIN'; else userButtons" 
      class="restBtn" 
      (click)="router.navigate(['/requests'])">
      Show Requests
    </button>
  
   <!-- For Normal Users -->
<ng-template #userButtons>
  <button
    class="restBtn"
    *ngIf="userRole === 'OWNER'; else addRestaurantButton"
    (click)="router.navigate(['/managerestaurant'])"
  >
    Go to Restaurant
  </button>

  <ng-template #addRestaurantButton>
    <button class="restBtn" (click)="openAddRest()">Add Restaurant</button>
  </ng-template>
</ng-template>

  
    <button (click)="goToProfile()" class="profile-btn">
      <img
        src="https://img.icons8.com/?size=100&id=20749&format=png&color=000000"
        alt="Profile"
        width="32"
      />
    </button>
    <button (click)="logout()" class="logout-btn">Logout</button>
  </div>
  



  <!-- If user is not logged in -->
  <ng-template #showAuthButtons>
    <button (click)="openLogin()" class="loginbtn">Login</button>
    <button (click)="openSignup()" class="signupbtn">Sign Up</button>
  </ng-template>





  <!-- Add Restaurant Overlay -->
<div class="overlay" *ngIf="showAddRest" (click)="closeAddRest()"></div>

<div class="login-modal" *ngIf="showAddRest">
  <div class="modal-header">
    <h2>Add Restaurant</h2>
    <span class="close-btn" (click)="closeAddRest()">&times;</span>
  </div>

  <form [formGroup]="addRestaurantForm" (ngSubmit)="submitRestaurant()">
    <div class="modal-body">
      <!-- Restaurant Name -->
      <div class="input-container">
        <input
          type="text"
          formControlName="name"
          placeholder="Restaurant Name"
          [class.error]="
            addRestaurantForm.get('name')?.invalid && addRestaurantForm.get('name')?.touched
          "
        />
      </div>

      <!-- Cuisine Type -->
      <div class="input-container">
        <input
          type="text"
          formControlName="typeCuisine"
          placeholder="Cuisine Type (e.g., Italian, Indian)"
          [class.error]="
            addRestaurantForm.get('cuisine')?.invalid && addRestaurantForm.get('cuisine')?.touched
          "
        />
      </div>

      <!-- Address -->
      <div class="input-container">
        <input
          type="text"
          formControlName="address"
          placeholder="Address"
          [class.error]="
            addRestaurantForm.get('address')?.invalid && addRestaurantForm.get('address')?.touched
          "
        />
      </div>

      <!-- Opening Hour -->
      <div class="input-container">
        <input
          type="text"
          formControlName="openingHour"
          placeholder="Opening Hour [Format: HH:mm:SS]"
       
        />
      </div>

      <!-- Closing Hour -->
      <div class="input-container">
        <input
          type="text"
          formControlName="closingHour"
          placeholder="Closing Hour [Format: HH:mm:SS]"
          
        />
      </div>

      <!-- Average Time -->
      <div class="input-container">
        <input
          type="text"
          formControlName="time"
          placeholder="Time [Example: 40 min]"
        />
      </div>

      <!-- Image URL -->
      <div class="input-container">
        <input
          type="text"
          formControlName="imageUrl"
          placeholder="Image URL"
          [class.error]="
            addRestaurantForm.get('imageUrl')?.invalid && addRestaurantForm.get('imageUrl')?.touched
          "
        />
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="primary-btn"
        [disabled]="!addRestaurantForm.valid"
      >
        Add Restaurant
      </button>
    </div>
  </form>
</div>





  <!-- Login Modal -->
  <div class="overlay" *ngIf="showLoginModal" (click)="closeLogin()"></div>
  <div class="login-modal" *ngIf="showLoginModal">
    <div class="modal-header">
      <h2>Login</h2>
      <span class="close-btn" (click)="closeLogin()">&times;</span>
    </div>

    <form [formGroup]="loginForm">
      <div class="modal-body">
        <!-- Phone Number -->
        <div class="input-container">
          <select formControlName="countryCode">
            <option value="+91">🇮🇳 +91</option>
            <option value="+1">🇺🇸 +1</option>
          </select>
          <input
            type="text"
            formControlName="phone"
            placeholder="Phone"
            class="loginInpt"
            [class.error]="
              loginForm.get('phone')?.invalid &&
              loginForm.get('phone')?.touched &&
              !isPhoneVerified
            "
          />
        </div>

        <!-- OTP Field -->
        <div
          class="input-container"
          *ngIf="isOtpSent && !isPhoneVerified"
          [ngClass]="{
            verified: isPhoneVerified,
            invalid: otpError && !isPhoneVerified
          }"
        >
          <input
            type="text"
            formControlName="otp"
            placeholder="Enter OTP"
            [class.success]="isPhoneVerified"
            [class.error]="
              otpError ||
              (loginForm.get('otp')?.invalid && loginForm.get('otp')?.touched)
            "
          />

          <button type="button" class="otpBtn" (click)="verifyLoginOtp()">
            {{ isPhoneVerified ? "Verified" : "Verify OTP" }}
          </button>
        </div>

        <button
          type="button"
          class="primary-btn"
          (click)="sendLoginOtp()"
          [disabled]="isPhoneVerified || loginForm.get('phone')?.invalid"
        >
          {{ isPhoneVerified ? "Verified" : "Send One Time Password" }}
        </button>

        <div class="divider">
          <span>or</span>
        </div>

        <button class="secondary-btn" type="button">
          <img src="https://img.icons8.com/ios-glyphs/30/000000/new-post.png" />
          Continue with Email
        </button>
      </div>
    </form>

    <div class="modal-footer">
      New to Zomato?
      <button class="footer-btn" (click)="openSignup()">Create account</button>
    </div>
  </div>

  <!-- SignUp Modal -->
  <div class="overlay" *ngIf="showSignupModal" (click)="closeSignup()"></div>
  <div class="login-modal" *ngIf="showSignupModal">
    <div class="modal-header">
      <h2>Sign up</h2>
      <span class="close-btn" (click)="closeSignup()">&times;</span>
    </div>

    <!-- Bind formGroup and ngSubmit -->
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <!-- Full Name -->
        <div class="input-container">
          <input
            type="text"
            formControlName="name"
            placeholder="Full name"
            [class.error]="
              myForm.get('name')?.invalid && myForm.get('name')?.touched
            "
          />
        </div>

        <!-- Email -->
        <div class="input-container">
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            [class.error]="
              myForm.get('email')?.invalid && myForm.get('email')?.touched
            "
          />
          
        </div>

        <!-- Password -->
        <div class="input-container">
          <input
            type="password"
            formControlName="password"
            placeholder="Password"
            [class.error]="
              myForm.get('password')?.invalid && myForm.get('password')?.touched
            "
          />
        </div>

        <!-- Phone -->
        <div class="input-container" [ngClass]="{ verified: isPhoneVerified }">
          <input
            type="text"
            placeholder="Phone Number"
            formControlName="number"
            [readonly]="isPhoneVerified"
            [class.error]="otpError && !isPhoneVerified"
          />
          <button
            type="button"
            class="otpBtn"
            (click)="sendOtp()"
            [disabled]="isPhoneVerified || myForm.get('number')?.invalid"
          >
            {{ isPhoneVerified ? "Verified" : "Send OTP" }}
          </button>
          
        </div>
        <div class="input-container" *ngIf="isOtpSent && !isPhoneVerified">
          <input
            type="text"
            formControlName="otp"
            placeholder="Enter OTP"
            [class.error]="
              otpError ||
              (myForm.get('otp')?.invalid && myForm.get('otp')?.touched)
            "
          />

          <button
            type="button"
            class="otpBtn"
            (click)="verifyOtp()"
            [disabled]="isPhoneVerified || myForm.get('otp')?.invalid"
          >
            Verify OTP
          </button>
        </div>

        <div class="input-container">
          <input
            type="text"
            formControlName="address"
            id="address"
            placeholder="Address"
          />
        </div>

        <!-- Terms -->
        <div class="terms">
          <input type="checkbox" id="termsCheckbox" />
          <label for="termsCheckbox">
            I agree to Zomato’s
            <a href="#">Terms of Service</a>, <a href="#">Privacy Policy</a>,
            and <a href="#">Content Policies</a>.
          </label>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="primary-btn"
          [disabled]="!myForm.valid || !isPhoneVerified"
        >
          Create account
        </button>
      </div>
    </form>

    <div class="modal-footer">
      Already have an account?
      <button class="footer-btn" (click)="openLogin()">Log in</button>
    </div>
  </div>
</nav>
